.footer-container {
    background-color: black;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: white;
    height: 35vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.company-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
    max-width: 300px;
    padding: 20px 10px;
}

.footer-header {
    margin-bottom: 25px;
    font-size: 14px;
    text-align: left;
    width: 300px;
}

.contact-info {
    margin-bottom: 25px;
    text-align: left;
    width: 300px;
}

.contact-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #ffffff;
}

.social-links {
    display: flex;
    justify-content: left;
    gap: 15px;
    width: 300px;
}

.company-info h1 p {
    font-size: 24px;
    margin: 0;
}

.company-logo img {
    width: 250px;
    height: auto;
}

.company-logo p {
    max-width: 300px;
    margin-top: 10px;
    font-size: 15px;
    color: #ffffff;
    line-height: 150%;
}

.quick-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.quick-links h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

.quick-links ul {
    list-style: none;
    padding: 0;
}

.quick-links li {
    margin: 5px 0;
}

.quick-links a {
    color: white;
    text-decoration: none;
}

.footer-container a {
    color: white;
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline;
}

.footer-container h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-container p {
    margin: 5px 0;
    font-size: 14px;
    color: #ffffff;
}

.footer-container img {
    max-width: 100%;
    height: auto;
}


