.hero-container {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

.slider {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

