* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    margin: 100px 0px 100px 0px;
}

.img-product {
    height: auto;
    width: fit-content;
    /* margin-bottom: 20px; */
    border: 2px solid rgb(199, 199, 199);
    border-radius: 10px;
}

.img-product img {
    width: 100%;
    max-width: 1200px;
    height: auto;
    border-radius: 10px;
}

.product-info {
    width: 60%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid rgb(199, 199, 199);
    border-radius: 10px;
}

.product-name {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.product-name p {
    font-size: 1rem;
    color: grey;
}

.product-details {
    font-size: 1rem;
    color: grey;
}


.drop-menu {
    width: 100%;
    border: 2px solid rgb(199, 199, 199);
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: left;
    align-items: left;
    text-align: left;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.drop-item {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgb(199, 199, 199);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-photos {
    width: 100%;
    margin-top: 50px;
    padding: 20px;
    /* border: 2px solid rgb(199, 199, 199); */
    border-radius: 10px;
    text-align: center;
    margin-bottom: 100px;
}

.event-photos h2 {
    margin: 50px 0px 50px 0px;
}
