* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}

.img-product {
    height: auto;
    width: 35%;
    height: auto;
    margin-bottom: 20px;
    border: 2px solid blue;
}

.img-product img {
    width: 100%;
    height: auto;
}

.product-info {
    width: 60%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid blue;
}

.product-name {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.product-name p {
    font-size: 1rem;
    color: grey;
}

.product-details {
    font-size: 1rem;
    color: grey;
}